{% extends "/trainer/header.html" %}
{% block content %}
<div class="pagetitle">
  <h1>Trainees</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for trainee in trainees %}
          <tr>
            <td id="pkgid">{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td>{{ trainee.phone_number }}</td>

            <td><button id="{{trainee.id}}" onclick="editpkg(this.id)">Mark Login</button></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>



    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <button id="addPackageButton">Add Package</button>

      <div id="addPackageForm" style="display: none;">
        <form method="post" action="{{url_for('add_package')}}"> <!-- Set the appropriate action URL -->
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required><br>
          <label for="duration">Duration:</label>
          <input type="number" name="duration" id="duration" required><br>
          <label for="description">Description:</label>
          <input type="text" name="description" id="description" required><br>
          <label for="price">Price:</label>
          <input type="number" name="price" id="price" required><br>
          <button type="submit">Submit</button>
        </form>
      </div>

    </div>
  </div>
</section>

{% endblock %}