{% extends "/trainer/header.html" %}
{% block content %}
<div class="pagetitle">
  <h1>Trainees</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for trainee in trainees %}
          <tr>
            <td id="pkgid">{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td>{{ trainee.phone_number }}</td>

            <td><button id="{{trainee.id}}" onclick="viewtrainee(this.id)">View Trainee</button></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>



    </div>
  </div>
</section>
<script>
  function viewtrainee(id){
    window.location.href = '/trainer/trainee/info/'+id;
  }
</script>
{% endblock %}