{% extends "/trainer/header.html" %}
{% block content %}
<div class="pagetitle">
  <h1>Trainees</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for trainee in trainees %}
          <tr>
            <td id="pkgid">{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td>{{ trainee.phone_number }}</td>
            {% if trainee.id in active %}
            <td><button id="{{trainee.id}}" onclick="end(this.id)">End session</button></td>
            {% else %}
            <td><button id="{{trainee.id}}" onclick="start(this.id)">Start session</button></td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>



    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post"  id="sessform" action="{{url_for('trainee_session')}}" style="display:none;">
        <input type="text" name="action" id="actioninput" hidden/>
        <input type="text" name="member" id="memberinput" hidden/>
        <input type="text" name="comments" placeholder="Your Comments">
        <input type="submit" id="submitbtn"/>
      </form>
    </div>
  </div>
</section>

<script>
  function end(id){
    document.getElementById('actioninput').value = 'end';
    document.getElementById('memberinput').value = id ;
    //document.getElementById('submitbtn').click();
    document.getElementById('sessform').style.display='flex';
  }

  function start(id){
    document.getElementById('actioninput').value = 'start';
    document.getElementById('memberinput').value = id ;
    document.getElementById('submitbtn').click();
  }
</script>
{% endblock %}