{% extends "/admin/header.html" %}
{% block content %}
<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">




        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card">
            <a href="{{url_for('package_manager')}}">Manage Package</a>
            <a href="{{url_for('hire_trainer')}}">Hire Trainer</a>
          </div>
        </div><!-- End Recent Sales -->

<!-- End Left side columns -->

  </div>
</section>

{% endblock %}