{% extends "/header.html" %}
{% block content %}
<style>
  h3{
    color: rgb(30, 70, 89);
  }
  h4{
    color: rgb(13, 72, 63);
  }
</style>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      {% if subscription %}
      <div class="row">
        <div class="col">
          <div  class="row">
            <div class="col border p-3">
              <h3>Subscription:</h3>
              <h4>Package: {{package.name}} </h4>
            </div>
            <div class="col border p-3">
              <h3> Course Completion:</h3>
              <h4> {{over}} / {{package.duration}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="col border p-3 text-center">
              <button onclick="window.location.href='/sessions'">View Sessions</button>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h3>You dont have any active Subscription</h3>
      <a href="{{url_for('subscribe')}}"><h4>Subscribe now</h4></a>
      {% endif %}
    </div>
  </section>

{% endblock %}